---
export const prerender = true;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="refresh" content="0; url=/login" />
		<title>Redirigiendo...</title>
	</head>
	<body>
		<a href="/login">Continuar a login</a>
	</body>
</html>
