---
// src/layouts/Layout.astro
import Loader from '../components/Loader.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body>
		<Loader /> <slot />   </body>
</html>